@charset "utf-8";
		.title{
			color: #FFFFFF;
			text-align: center;	
		}
		.text{
			font-family: "Ubuntu Regular";
			src: url(../fonts/ubuntu.ttf) format("truetype");
		}
		.bg{
			background-color:#090A12;
		}
		.foo{
			color:#5A5A5A;
			font-size: 13px
		}
		.center{
			text-align: center;
			align-content: center;
		}
		.par{
			width: fit-content(20em);
		}